.row
	.col-md-5.col-sm-6.col-xs-12
		%h1.model-title
			Editando tipo de usuario

= render 'form'

.row
	.col-md-3.col-md-offset-2.col-sm-5.col-sm-offset-1.col-xs-12
		= link_to 'Mostrar', @user_type, class: "btn btn-default btn-block"
	.col-md-3.col-md-offset-2.col-sm-5.col-sm-offset-1.col-xs-12
		= link_to 'Volver', user_types_path, class: "btn btn-default btn-block"