.row
	.col-md-5.col-sm-6.col-xs-12
		%h1.model-title
			Editando subcategoría

= render 'form'

.row
	.col-md-3.col-md-offset-2.col-sm-5.col-sm-offset-1.col-xs-12
		= link_to 'Mostrar', @sub_category, class: "btn btn-default btn-block"
	.col-md-3.col-md-offset-2.col-sm-5.col-sm-offset-1.col-xs-12
		= link_to 'Volver', sub_categories_path, class: "btn btn-default btn-block"