.row
	.col-md-5.col-sm-6.col-xs-12
		%h1.model-title
			Nueva alternativa

= render 'form'

.row
	.col-md-4.col-md-offset-4.col-sm-12.col-xs-12
		= link_to 'Volver', alternatives_path, class: "btn btn-default btn-block"