/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub print
 */

@font-face{
	font-family: "SansaPro";
	src: font-url("SansaPro-Normal.otf");
	font-weight: normal;
	font-style: normal;
}

.logo-image{
	position: relative;
	top: -6px;
}

body{
	padding-top: 52px;
	padding-bottom: 15px;
	font-family: "SansaPro";
}

.model-title{
	color: #F8F8F8;
	text-align: center;
	text-transform: uppercase;
	padding: 5px;
}

.form-signin,.form-signup{
	max-width: 600px;
	padding: 15px;
	margin: -70px auto;
}

.form-signin input[type="email"], .form-signin input[type="password"]{
    border-radius: 20px;
    margin-bottom: 5px;
}

.form-signin-field-part {
    input[type="checkbox"]{
        float: left;
        background: red;
        padding: 10px;
    }
    .checkbox {
        font-weight: normal;
        margin-bottom: 10px;
    }
}

.form-signin input[type="submit"]{
    margin-top: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
}

.form-signup input[type="submit"]{
	margin-top: 10px;
}

.image_logo{
	margin: 0 auto;
	display: block;
}

.form-signin-heading{
	margin-bottom: 10px;
	display: block;
	text-align: center;
}

#report_image_bg{
	max-height: 400px;
	img{
		width: 100%;
		position: relative;
		max-height: 400px;
		z-index: -20;
	}
}

.shadow{
	width: 100%;
	background: linear-gradient(0deg, #6C696A, #505152);
	height: 100px;
	position: absolute;
	top: -25px;
	display: none;
}

.shadow:before{
	content: "";
	width: 152%;
	margin: 0 -15%;
	height: 25px;
	background: transparent;
	position: absolute;
	z-index: -1;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 24px solid #3B3A3D;
	top: -1px;
	left: -11%;
}

.shadow:after{
	content: "";
	width: 152%;
	margin: 0 -15%;
	height: 25px;
	background: transparent;
	position: absolute;
	z-index: -1;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 24px solid #3B3A3D;
	bottom: -1px;
	left: -11%;	
}

// .navbar .container-fluid{
// 	margin-top: -20px;
// }

// .navbar{
// 	position: relative;
// 	z-index: 200;
// }

.navbar-nav li{
	position: relative;
}

.navbar-nav li:hover{
	a.first-option{
		color: white;
		display: block;
		position: relative;
		z-index: 10;
	}
	.shadow{
		display: block;
	}
}

.navbar-nav .dropdown.open{
	a.first-option{
		background-color: #565555;
		color: white;
	}
}

@media print{
    body{
        padding: 0px
    }
    #big_image_container{
        display:none
    }
    #report_image_bg{
        display:none
    }
    .common-title{
        background: #2A295C;
        position: relative;
        margin-top: 20px;
    }
    .common-title h1{
        width: auto;
        margin: 0 auto;
        color: white;
        text-align: center;
        padding: 20px 0px 10px;
        span{
            font-size: 24px;
            color: white;
        }
    }
    .row.result_to_care h1{
        border: 1px solid transparent; 
        margin-bottom: 10px; 
    }
    .question-title h2 {
        width: 100%;
    }
    .total{
        background: #D9D9D9;
        width: 25%;
        float: left;
    }
    .total h5{
        padding: 5px 0px 5px 15px;
        color: #393536;
        font-weight:bold;
        font-size: 12px;
    }
    .total:after{
        content: "";
        width: 0; 
        height: 0; 
        border-top: 23px solid transparent;
        border-bottom: 23px solid transparent;
        border-left: 22px solid #D9D9D9;
        position: absolute;
        right: -21px;
        z-index: 10;
        top: 0px;
    }
    .yes{
        background: #2A295C;
        width: 25%;
        float: left;
    }
    .yes h5{
        padding: 5px 0px 5px 15px;
        color: #FFF;
        font-weight:bold;
        font-size: 12px;
    }
    .yes:after{
        content: "";
        width: 0; 
        height: 0; 
        border-top: 23px solid transparent;
        border-bottom: 23px solid transparent;
        border-left: 22px solid #2A295C;
        position: absolute;
        right: -21px;
        z-index: 10;
        top: 0px;
    }
    .no{
        background: #F00;
        width: 25%;
        float: left;
    }
    .no h5{
        padding: 5px 0px 5px 15px;
        color: #FFF;
        font-weight:bold;
        font-size: 12px;
    }
    .no:after{
        content: "";
        width: 0; 
        height: 0; 
        border-top: 23px solid transparent;
        border-bottom: 23px solid transparent;
        border-left: 22px solid #F00;
        position: absolute;
        right: -21px;
        z-index: 10;
        top: 0px;
    }
    .value-to-show {
        clear: both;
    }
    .bar-values{
        clear: both;
        page-break-after: always;
    }
    .bar-values div{
        width: 100%;
    }
    .bar-values div div{
        width: 50%;
        margin: 0 auto;
    }
    .bar-values .new_bars_container{
        width: 100%;
        margin: 0 auto;
        padding: 0px;
    }    
    .bar-values .new_bars_container .new_bar_container{
        width: 33.33%;
        float: left;
    }
    .bar-values .bar{
        float: left;
        width: 50%;
        margin: 0 auto;
        display: block;
    }
    .bar-values .bar h5 {
        margin-top: 40px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        clear: both;
        position: relative;
        z-index: 200;
    }
    .bar-values .bar h5.red {
        color: #F00;
    }
    .bar-values .bar h5.blue {
        color: #2A295C;
    }
    .bar-values .bar .value{
        height: 300px;
        background: none;
        padding: 0px;
        position: relative;
    }
    .bar-values .bar .value:before{
        content: "";
        width: 100%;
        height: 100px;
        background: none;
        position: absolute;
        left: 0px;
        border-radius: 50px;
        z-index: 10;
        top: -30px;
    }
    .bar-values .bar .value:after{
        content: "";
        width: 100%;
        height: 100px;
        background: none;
        position: absolute;
        left: 0px;
        border-radius: 50px;
        z-index: 10;
        bottom: -30px;
    }
    .bar-values .bar .value p{
        font-size: 12px;
    }
    .bar-values .bar .value p.blue:before {
        background: none repeat scroll 0% 0% #2A295C;
    }
    .bar-values .bar .value p.blue:after {
        background: none repeat scroll 0% 0% #2A295C;
    }
    .bar-values .bar .value p.red:before {
        background: none repeat scroll 0% 0% #F00;
    }   
    .bar-values .bar .value p.red:after {
        background: none repeat scroll 0% 0% #F00;
    }
    .data-charts-container{
        background: yellow;
        width: 100%;
    }
    #data-with-charts{
        width: 100%;
        overflow: hidden;
        background: green;
    }
    .line-graph-container{
        width: 70%;
        background: pink;
        float: left;
    }
    .pie-graph-container{
        width: 30%;
        background: purple;
        float: right;
    }
    .pie-graph-container h3{
        padding: 0px;
    }
    .pie-graph-container #yes-pie .pie-data{
        width: 100%;
    }
    .pie-graph-container #yes-pie .pie-data img{
        display: none;
    }
    .pie-graph-container #yes-pie #yes-pie-draw{
        width: 100%;
    }
    .pie-graph-container #yes-pie #yes-pie-draw canvas{
        width: 50%;
        background: blue;
        display: block;
        margin: 0 auto;
    }
    .pie{
        margin-top: -15px;
    }
    .pie-graph-container #no-pie .pie-data{
        width: 100%;
    }
    .pie-graph-container #no-pie .pie-data img{
        display: none;
    }
    .pie-graph-container #no-pie #no-pie-draw{
        width: 100%;
    }
    .pie-graph-container #no-pie #no-pie-draw canvas{
        width: 50%;
        background: blue;
        display: block;
        margin: 0 auto;
    }
    .navbar, #print_button, .download_pdf{
        display: none;
    }
}