.common-title{
	background: #2A295C;
	position: relative;
	h1{
		width: auto;
		margin: 0 auto;
		color: white;
		text-align: center;
		padding: 20px 0px 10px;
		span{
			font-size: 24px;
			color: white;
		}
	}
}

#new_logo{
	position: relative;
	top: -18px;
	max-height: 150px;
	img{
		width: 100%;
		max-height: 150px;
	}
}

#survey_form{
	margin: 30px 0px 0px;
	#search_result{
		position: relative;
		top: -10px;
	}
}