#survey_form{
	padding-top: 10px;
	padding-bottom: 10px;
}

.no_survey_result{
	text-align: center;
	color: white;
	background: #FF0000;
	padding: 5px 0px;
}

.row{
	h1{
		color: #2A295C;
		text-align: center;
		padding: 5px 5px 5px 15px;
		width: 100%;
		font-weight: bold;
	}
	.question-title{
		h2{
			color: #393536;
			font-size: 20px;
			font-weight: bold;
		}
	}
}

.total{
	background: #D9D9D9;
	h5{
		padding: 5px 0px 5px 15px;
		color: #393536;
		font-weight:bold;
	}
	&:after{
		content: "";
		width: 0; 
		height: 0; 
		border-top: 23px solid transparent;
		border-bottom: 23px solid transparent;
		border-left: 22px solid #D9D9D9;
		position: absolute;
		right: -21px;
		z-index: 10;
		top: 0px;
	}
}
.yes{
	background: #2A295C;
	h5{
		padding: 5px 0px 5px 15px;
		color: #FFF;
		font-weight:bold;
	}
	&:after{
		content: "";
		width: 0; 
		height: 0; 
		border-top: 23px solid transparent;
		border-bottom: 23px solid transparent;
		border-left: 22px solid #2A295C;
		position: absolute;
		right: -21px;
		z-index: 10;
		top: 0px;
	}
}
.no{
	background: #F00;
	h5{
		padding: 5px 0px 5px 15px;
		color: #FFF;
		font-weight:bold;
	}
	&:after{
		content: "";
		width: 0; 
		height: 0; 
		border-top: 23px solid transparent;
		border-bottom: 23px solid transparent;
		border-left: 22px solid #F00;
		position: absolute;
		right: -21px;
		z-index: 10;
		top: 0px;
	}
}
.value-to-show{
	background: #D9D9D9;
	h3{
		text-align: center;
		color: #2A295C;
	}
}

/* Detailed report */
.bar-values{
	div{
		background: #D9D9D9;
	}
	.bar{
		padding-top: 50px;
		padding-bottom: 50px;
		.value{
			height: 300px;
			background: #393837;
			padding: 0px;
			position: relative;
			&:before {
				content: "";
				width: 100%;
				height: 100px;
				background: #393837;
				position: absolute;
			    left: 0px;
			    border-radius: 50px;
				z-index: 10;
				top: -30px; }
			&:after{
				content: "";
				width: 100%;
				height: 100px;
				background: #393837;
				position: absolute;
			    left: 0px;
			    border-radius: 50px;
				z-index: 10;
				bottom: -30px; 
			}
			p.red{
				background: #F00; 
				&:before{
					background: #F00; 
				}
				&:after{
					background: #F00; 
				}
			}
			p.blue{
				background: #2A295C; 
				&:before{
					background: #2A295C; 
				}
				&:after{
					background: #2A295C; 
				}
			}
			p.gray{
				background: #CEC7BD;
				&:before{
					background: #CEC7BD;
				}
				&:after{
					background: #CEC7BD;
				}
			}
			p{
				width: 100%;
				bottom: -10px;
				z-index: 50;
				position: absolute;
				text-align: center;
				color: #FFF;
				font-size: 15px;
				font-weight: bold;
				&:before {
					content: "";
					width: 100%;
					height: 30px;
					position: absolute;
				    left: 0px;
				    border-radius: 90px 90px 0px 0px;
					z-index: 10;
					top: -30px; }
				&:after{
					content: "";
					width: 100%;
					height: 30px;
					position: absolute;
				    left: 0px;
				    border-radius: 0px 0px 90px 90px;
					z-index: 10;
					bottom: -30px; 
				}
			}
		}
		h5{
			margin-top: 340px;
			text-align: center;
			font-size: 20px;
			text-transform: uppercase;
		}
		h5.red{
			color: #F00;
		}
		h5.blue{
			color: #2A295C; 
		}
		h5.gray{
			color: #CEC7BD;
		}
	}
}

.juar{
	margin-top: 15px;
}

#data-with-charts{
	padding-top: 50px;
	#my_graph > canvas{
		border-bottom: 2px solid #555555;
		border-left: 2px solid #555555;
	}
}

.pie{
	overflow: hidden;
	.pie-data{
		float: left;
		padding-top: 40px;
		position: relative;
		img{
		}
		.pie-label{
			width: 100%;
			text-align: center;
			font-size: 16px;
			display:block;
		}
	}
	div{
		float: right;
	}
}

#loading_part{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	z-index: 200;
	top: 95%;
	bottom: 0px;
	left: 0px;
	right: 0px;
	img{
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -118px -118px;
	}
	display: none;
}

.arrow_head{
	padding: 10px 0px;
	span{
		padding-left: 30px;
	}
	&:after{
		content: "";
	    width: 0; 
	    height: 0; 
	    border-top: 20px solid transparent;
	    border-bottom: 20px solid transparent;
	    position: absolute;
	    right: -21px;
	    z-index: 10;
	    top: 0px;
	}
}

.red{
	background: #ff0000;
	color: #FFF;
	&:after{
		border-left: 21px solid #FF0000;
	}
}

.blue{
	background: #2A295C;
	color: #FFF;
	&:after{
		border-left: 21px solid #2A295C;
	}
}

.gray{
	background: #CEC7BD;
	color: #44433E;
	&:after{
		border-left: 21px solid #CEC7BD;
	}
}

.bar_red{
	background: #FF0000;
	color: #FFF;
	&:after, &:before{
		background: #FF0000;
	}
}

.bar_blue{
	background: #2A295C;
	color: #FFF;
	&:after, &:before{
		background: #2A295C;
	}
}

.bar_gray{
	background: #CEC7BD;
	color: #44433E;
	&:after, &:before{
		background: #CEC7BD;
	}
}


#daily_summary{
	position: relative;
    z-index: -10;
    padding: 40px 0px;
    background: #D0D1D5;
    .sub_category_vertical_bar{
    	width: 25%;
    	margin: 0 2.5%;
    	display: inline-block;
    	&:first-child{
    		margin-left: 10%;
    		margin-right: 0%;
    	}
    	&:last-child{
    		margin-left: 0%;
    		margin-right: 10%;
    	}
    	.bar{
    		display: inline-block;
    		width: 50%;
    		text-align: center;
    		padding: 30px 0px;
    		h3{
    			width: 100%;
    			text-align: center;
    			margin-top: 30px;
    		}
    		.vertical_bar{
				color: white;
				width: 50%;
				display: inline-block;
				height: 300px;
				position: relative;
				background: #44433E;
				.real_bar{
					position: absolute;
					width: 100%;
					z-index: 5;
					bottom: 0px;
					left: 0px;
					.value{
						width: 100%;
						display: inline-block;
						font-size: 20px;
						font-weight: bold;
					}
					span{
						width: 100%;
						display: inline-block;
						font-size: 18px;
					}
					&:after{
						content: "";
						height: 50px;
						position: absolute;
						bottom: -25px;
						width: 100%;
						left: 0px;
						border-radius: 0 0 50% 50%;
						z-index: -1;
					}
					&:before{
						content: "";
						height: 50px;
						position: absolute;
						top: -25px;
						width: 100%;
						left: 0px;
						border-radius: 50% 50% 0 0;
						z-index: -1;
					}
				}
				&:after{
					content: "";
					border-radius: 0 0 50% 50%;
					position: absolute;
					bottom: -24px;
					background: #44433E;
					width: 100%;
					left: 0px;
					height: 50px;
					z-index: -2;
				}
				&:before{
					content: "";
					border-radius: 50% 50% 0 0;
					position: absolute;
					top: -25px;
					background: #44433E;
					width: 100%;
					left: 0px;
					height: 50px;
					z-index: -2;
				}
			}
    	}
    }
}

.daily_sub_category_value, .monthly_sub_category_value{
	display: none;
}

.question{
	margin-bottom: 10px;
	.question_content{
		padding: 10px;
		background: #E5E6E8;
		p{
			text-align: center;
			color: #2A295C;
			font-weight: bold;
			font-size: 20px;
		}
	}
}

#monthly_summary{
	background: #D0D1D5;
	padding: 30px 0px;
	margin-top: 20px;
}

.line_graph {
	width: 70%;
	height: 300px;
	display: inline-block;
	vertical-align: top;
	canvas{
		display: block;
		margin: 10px auto;
	}
}

.pies_graphs{
	width: 30%;
	height: 300px;
	display: inline-block;
	vertical-align: top;
	canvas{
		display: block;
		margin: 10px auto;
	}
	h3{
		width: 100%;
		text-align: center;
	}
	.title_blue{
		color: #2A295C;
	}
	.title_red{
		color: #FF0000;
	}
}

#monthly_summary{
	position: relative;
	top: -20px;
}

.monthly_sub_category_value, #monthly_summary, .detailed_monthly_view{
	background: #DBDCE0;
	margin-top: 20px;
    padding: 40px 0px;
    background: #D0D1D5;
	.horizontal_bar_container{
		width: 50%;
		margin: 10px auto;
		.horizontal_bar{
			background: #44433E;
			position: relative;
			p{
				position: relative;
				&:after{
					content: "";
					width: 25px;
					height: 100%;
					position: absolute;
					border-radius: 50%;
					top: 0;
					right: -12px;
					z-index: 0;
				}
				&:before{
					content: "";
					width: 25px;
					height: 100%;
					position: absolute;
					border-radius: 50%;
					top: 0;
					left: -12px;
					z-index: 0;
				}
			}
			#total_yes{
				background: red;
				color: white;
				padding: 5px 5px 5px 20px;
				&:after, &:before{
					background: red;
				}
			}
			#total_no{
				background: #2A295C;
				color: white;
				padding: 5px 5px 5px 20px;
				&:after, &:before{
					background: #2A295C;
				}
			}
			&:after{
				content: "";
				width: 25px;
				height: 100%;
				position: absolute;
				border-radius: 50%;
				background: #44433E;
				top: 0;
				right: -12px;
				z-index: 0;
			}
			&:before{
				content: "";
				width: 25px;
				height: 100%;
				position: absolute;
				border-radius: 50%;
				background: #44433E;
				top: 0;
				left: -12px;
				z-index: 0;
			}
		}
	}
}

.monthly_sub_category_value{
	margin-top: 0px;
}

.detailed-values{
	.monthly_detailed{
		width: 50%;
		margin-left: 10%;
	}
}

.detailed_monthly_view{
	display: none;
	.pies_graphs{
		margin-bottom: 60px;
	}
}

.download_pdf{
	margin: 20px 0px;
}