#survey_form{
	padding-top: 30px;
}
.station{
	h1{
		background: #B0B0B0;
		color: #F8F8F8;
		text-align: center;
		text-transform: uppercase;
		padding: 5px;
		width: 40%;
	}
	overflow: auto;
	.sub_category_result{
		padding: 0px;
		li{
			float: left;
			list-style: none;
			margin-right: 15px;
			width: 150px;
			.result_view{
				width: 100px;
				margin: 0 auto;
				.bar{
					margin: 0 auto;
					width: 50px;
					p{
						color: white;
					}
				}
				.bar.positive{
					background: #3498db;
				}
				.bar.negative{
					background: #e74c3c;
				}
			}
			h3, p{
				width: 100%;
				text-align: center;
			}
		}
	}
}