#survey_form.row
	.col-md-12
		%h1
			Reporte mensual
	.col-md-12
		= form_tag report_result_path, id: "search_result", remote: true do
			.col-md-4.col-sm-6.col-xs-12
				.form-group
					.col-md-12
						= select_tag "restaurant_id_for_survey", options_from_collection_for_select(current_user.restaurants, :id, :name), class: "form-control"
			.col-md-4.col-md-offset-4.col-sm-6.col-xs-12
				.form-group
					.col-md-12
						= text_field_tag "date_for_survey", "", class: "form-control", placeholder: "Elija la fecha a consultar"

- content_for :scripts do 
	:javascript
		$(document).on('focusin', '#date_for_survey', function(){
			$(this).datepicker()
				.on('changeDate', function(ev){
					$("#search_result").submit();
					$("#loading_part").show();
				});;
		});