$(".result_to_care").each(function(){$(this).remove();});
$(".no_survey_result").each(function(){$(this).remove();});
$(".download_pdf").each(function(){$(this).remove();});
$("#print_button").hide();
$("#survey_form").after("#{j render 'result_per_month_with_year', result: @result, load_css: false}");
$("#loading_part").hide();