$("#print_button").remove();
$(".result_to_care").each(function(){$(this).remove();});
$(".no_survey_result").each(function(){$(this).remove();});
$(".download_pdf").each(function(){$(this).remove();});
$("#survey_form").after("#{j render 'result_detailed_by_service', result: @result}");
$("#loading_part").hide();