$(".result_to_care").each(function(){$(this).remove();});
$(".no_survey_result").each(function(){$(this).remove();});
$(".download_pdf").each(function(){$(this).remove();});
$("#print_button").remove();
$("#survey_form").after("#{j render 'result', result: @result, load_css: false}");
$("#loading_part").hide();